[build]
builder = "nixpacks"
buildCommand = "cd demo_backend && ./mvnw clean package -DskipTests"

[deploy]
startCommand = "cd demo_backend && java -jar target/demo-backend-0.0.1-SNAPSHOT.jar"
healthcheckPath = "/actuator/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[env]
JAVA_TOOL_OPTIONS = "-XX:MaxRAMPercentage=80.0"