[build]
builder = "nixpacks"

[deploy]
startCommand = "java -jar target/demo-backend-0.0.1-SNAPSHOT.jar"
healthcheckPath = "/actuator/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[env]
JAVA_TOOL_OPTIONS = "-XX:MaxRAMPercentage=80.0"